{% block body %}
    {% include 'base.html.twig' %}

    <h1>Transactions list</h1>
    <br>
    {% if transactions is defined%}
        {{ knp_pagination_render(transactions) }}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Base amount</th>
                <th>Base currency</th>
                <th>Target amount</th>
                <th>Target currency</th>
                <th>Exchange rate</th>
                <th>Operation type</th>
                <th>Payment method</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>Client IP</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>
                        <a href="{{ path('transaction_details', {id: transaction.id})}}">{{ transaction.id }}</a>
                    </td>
                    <td>{{ transaction.base_amount|number_format(2, '.') }}</td>
                    <td>{{ transaction.base_currency }}</td>
                    <td>{{ transaction.target_amount|number_format(2, '.') }}</td>
                    <td>{{ transaction.target_currency }}</td>
                    <td>{{ transaction.exchange_rate|number_format(5, '.') }}</td>
                    <td>{{ transaction.operation_type }}</td>
                    <td>{{ transaction.payment_method }}</td>
                    <td>{{ transaction.created_at }}</td>
                    <td>{{ transaction.updated_at ?? '-' }}</td>
                    <td>{{ transaction.client_ip }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(transactions) }}
    {% endif %}

    {% if errorMessage is defined %}
        <h1>Operation failed!</h1>
        <h3>Error message:</h3>
        <div class="center">{{ errorMessage }}</div>
        <h3>Status code:</h3>
        <div class="center">{{ statusCode }}</div>
    {% endif %}

{% endblock %}
